In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

c:\users\avinash mourya\appdata\local\programs\python\python37\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
data = pd.read_csv("GroceryStoreDataSet.csv",header=None)

In [3]:
data.head(20)

         0       1           2           3
0     MILK   BREAD     BISCUIT         NaN
1    BREAD    MILK     BISCUIT  CORNFLAKES
2    BREAD     TEA   BOURNVITA         NaN
3      JAM   MAGGI       BREAD        MILK
4    MAGGI     TEA     BISCUIT         NaN
5    BREAD     TEA   BOURNVITA         NaN
6    MAGGI     TEA  CORNFLAKES         NaN
7    MAGGI   BREAD         TEA     BISCUIT
8      JAM   MAGGI       BREAD         TEA
9    BREAD    MILK         NaN         NaN
10  COFFEE    COCK     BISCUIT  CORNFLAKES
11  COFFEE    COCK     BISCUIT  CORNFLAKES
12  COFFEE   SUGER   BOURNVITA         NaN
13   BREAD  COFFEE        COCK         NaN
14   BREAD   SUGER     BISCUIT         NaN
15  COFFEE   SUGER  CORNFLAKES         NaN
16   BREAD   SUGER   BOURNVITA         NaN
17   BREAD  COFFEE       SUGER         NaN
18   BREAD  COFFEE       SUGER         NaN
19     TEA    MILK      COFFEE  CORNFLAKES

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       20 non-null     object
 1   1       20 non-null     object
 2   2       19 non-null     object
 3   3       7 non-null      object
dtypes: object(4)
memory usage: 768.0+ bytes

In [28]:
transaction = []
for i in range(20):
    transaction.append([str(data.loc[i,j]) for j in range(4) if data.loc[i,j] is not np.nan])

In [29]:
transaction

[['MILK', 'BREAD', 'BISCUIT'],
 ['BREAD', 'MILK', 'BISCUIT', 'CORNFLAKES'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['JAM', 'MAGGI', 'BREAD', 'MILK'],
 ['MAGGI', 'TEA', 'BISCUIT'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['MAGGI', 'TEA', 'CORNFLAKES'],
 ['MAGGI', 'BREAD', 'TEA', 'BISCUIT'],
 ['JAM', 'MAGGI', 'BREAD', 'TEA'],
 ['BREAD', 'MILK'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'COCK'],
 ['BREAD', 'SUGER', 'BISCUIT'],
 ['COFFEE', 'SUGER', 'CORNFLAKES'],
 ['BREAD', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['TEA', 'MILK', 'COFFEE', 'CORNFLAKES']]

In [30]:
from apyori import apriori

In [31]:
apr = apriori(transaction,min_support=0.3,min_confidence=1.2,min_length=2)

In [34]:
MB = list(apr)

In [33]:
MB

[]